body {
    margin: 0;
    padding: 0;
    overflow-y: hidden; /* Nasconde la barra di scorrimento verticale del body */
  }
  
  .page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f12020;
    /* Aggiungi stili aggiuntivi secondo necessità */
  }

  .page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0da80d;
    /* Aggiungi stili aggiuntivi secondo necessità */
  }

  .page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3213ad;
    /* Aggiungi stili aggiuntivi secondo necessità */
  }
  