body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .fixed-part {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .mobile-part {
    height: 1000px;
    background-color: red;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  @media (min-width: 980px) {
    /* Media query per schermi larghi (ad esempio, tablet e desktop) */
    .fixed-part {
      width: 30%; /* Adatta la larghezza della parte fissa secondo le tue esigenze */
      float: left;
    }
  
    .mobile-part {
      width: 70%; /* Adatta la larghezza della parte mobile secondo le tue esigenze */
      float: right;
    }
  }

  @media (min-width: 768px) {
    /* Media query per schermi larghi (ad esempio, tablet e desktop) */
    .fixed-part {
      width: 30%; /* Adatta la larghezza della parte fissa secondo le tue esigenze */
      float: left;
    }
  
    .mobile-part {
      width: 70%; /* Adatta la larghezza della parte mobile secondo le tue esigenze */
      float: right;
    }
  }

  @media (min-width: 480px) {
    /* Media query per schermi larghi (ad esempio, tablet e desktop) */
    .fixed-part {
      width: 30%; /* Adatta la larghezza della parte fissa secondo le tue esigenze */
      float: left;
    }
  
    .mobile-part {
      width: 70%; /* Adatta la larghezza della parte mobile secondo le tue esigenze */
      float: right;
    }
  }
  